<%- include('../base/header') %>

<section class="content">
    <div class="container-fluid card p-3">
        <ol>
            <% products.map((product) => { %>
                <li>
                    <%= product.name %> <a href="/product/edit/<%= product._id%>"><i class="far fa-sm fa-edit"></i></a> | <a href="/product/delete/<%= product._id%>"><i class="fas fa-sm fa-trash-alt"></i></a><br />
                    <img src="<%= product.picture %>" alt="Picture" style="height: 150px; width: auto;">
                </li>
            <% }) %>
        </ol>
    </div>
    <a href="/product/create" class="btn btn-primary"><i class="fas fa-sm fa-plus"></i> Qo'shish</a>

</section>

<%- include('../base/footer') %>