<%- include('../base/header') %>

<section class="content">
    <div class="container-fluid card p-3">
        <h2>Mahsulotni o'zgartirish</h2>
        <form action="/product/update/<%= product._id %>" method="POST">
            <div class="form-group">
                <label>Nomi</label>
                <input type="text" class="form-control" name="name" autocomplete="off" maxlength="128" value="<%= product.name %>" required>
            </div>
            <div class="form-group">
                <label>Izoh</label>
                <input type="text" class="form-control" name="description" autocomplete="off" value="<%= product.description %>" maxlength="256">
            </div>
            <div class="form-group">
                <label>Narxi</label>
                <input type="number" class="form-control" name="buy_back_price" autocomplete="off" value="<%= product.buy_back_price %>" required>
            </div>
            <div class="form-group">
                <label>Rasm uchun havola</label>
                <input type="text" class="form-control" name="picture" autocomplete="off" value="<%= product.picture %>" required>
            </div>
            <button type="submit" class="btn btn-success"><i class="fas fa-sm fa-save"></i> Saqlash</button>
            <a href="/product" class="btn btn-secondary"><i class="fas fa-sm fa-angle-left"></i> Ortga</a>
        </form>
    </div>
</section>

<%- include('../base/footer') %>