<%- include('../../base/header') %>

<section class="content">
    <div class="container-fluid card p-3">
        <ol>
            <% products.map((product) => { %>
                <li>
                    <%= product.name %> <a href="/product/item/<%= product._id%>/edit"><i class="far fa-edit"></i></a> | <a href="/product/item/<%= product._id%>/delete"><i class="fas fa-trash-alt"></i></a><br />
                    <img src="<%= product.picture %>" alt="Picture" style="height: 150px; width: auto;">
                </li>
            <% }) %>
        </ol>  
        <a href="/product" class="btn btn-primary"><i class="fas fa-angle-left"></i> Ortga</a>
    </div>
</section>

<%- include('../../base/footer') %>